<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BST-二叉搜索树.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>C++.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>C++.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>Fibonacci （斐波那契数列实现）.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>Fibonacci （斐波那契数列实现）.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>Graph-Representation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>LeetCode-102二叉树的层次遍历.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>LeetCode-102二叉树的层次遍历.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>leetcode - 572 另一个树的子树.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>leetcode- 1001 二叉树的下一个节点.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>leetcode- 120 三角形最小路径和.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>leetcode- 122 买卖股票的最佳时机.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>leetcode- 124 二叉树的最大路径和.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>leetcode- 671 二叉树中第二小的节点.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>leetcode-01两数之和.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>leetcode-02两数相加.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>leetcode-02两数相加.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>leetcode-03 无重复字符的最长子串.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>leetcode-04 三数之和.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>leetcode-07整数反转.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>leetcode-07整数反转.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>leetcode-09回文数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>leetcode-09回文数.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>leetcode-1000 无序数组中找到最大值和最小值.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>leetcode-100相同的树.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>leetcode-100相同的树.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>leetcode-101 对称二叉树.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>leetcode-104 二叉树的深度.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>leetcode-107 二叉树的层次遍历 II.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>leetcode-109 有序链表转换二叉搜索树.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>leetcode-110 平衡二叉树.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>leetcode-125 验证回文串.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>leetcode-131 分割回文串.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>leetcode-136 只出现一次的数字.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>leetcode-137 只出现一次的数字 II.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>leetcode-138 复制带随机指针的链表.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>leetcode-13罗马数字转整数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>leetcode-13罗马数字转整数.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>leetcode-141 环形链表.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>leetcode-14最长公共前缀.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>leetcode-14最长公共前缀.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>leetcode-15 反转链表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>leetcode-155 最小栈.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>leetcode-160 找到两个单链表相交的起始节点.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>leetcode-167 两数之和 II - 输入有序数组.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>leetcode-19 删除链表的倒数第 N 个节点.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>leetcode-20有效的括号.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>leetcode-20有效的括号.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>leetcode-21合并两个有序链表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>leetcode-21合并两个有序链表.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>leetcode-23 合并 K 个排序链表.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>leetcode-230 二叉搜索树第K小的元素.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>leetcode-24两两交换链表中的节点.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>leetcode-260 只出现一次的数字 III.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>leetcode-26删除排序数组中的重复项.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>leetcode-26删除排序数组中的重复项.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>leetcode-27移除元素.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>leetcode-27移除元素.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>leetcode-28实现strStr().xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>leetcode-28实现strStr().xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>leetcode-344 反转字符串.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>leetcode-35搜索插入位置.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>leetcode-35搜索插入位置.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>leetcode-383 赎金信.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>leetcode-387 字符串中的第一个唯一字符.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>leetcode-443 压缩字符串.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
		<key>leetcode-459   重复的子字符串.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>leetcode-53最大子序和.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>leetcode-53最大子序和.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>leetcode-541 反转字符串 II.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>leetcode-58最后一个单词的长度.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>leetcode-58最后一个单词的长度.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>leetcode-61 反转链表.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>leetcode-66加一.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>leetcode-66加一.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>leetcode-67二进制求和.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>leetcode-67二进制求和.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>leetcode-680 验证回文字符串 Ⅱ.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>leetcode-686  重复叠加字符串匹配.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>leetcode-70爬楼梯.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>leetcode-70爬楼梯.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>leetcode-75 颜色分类.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>leetcode-83删除排序链表中的重复元素.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>leetcode-83删除排序链表中的重复元素.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>leetcode-86 分割链表.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>leetcode-88合并两个有序数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>leetcode-88合并两个有序数组.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>leetcode-92 反转链表 II.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>leetcode-94二叉树的中序遍历.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>leetcode-94二叉树的中序遍历.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>leetcode-999 寻找无序数组中第K大的数.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>leetcode-Array.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>元素去重.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>元素去重.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>冒泡排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>冒泡排序.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>哈夫曼树.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>基数排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>基数排序.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>堆排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>堆排序.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>字符串匹配.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>字符串匹配.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>字符串比较.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>希尔排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>希尔排序.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>归并排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>归并排序.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>快速排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>插入排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>无重复字符的最长子串.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>无重复字符的最长子串.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>桶排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>索引堆.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>索引堆.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>选择排序.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>选择排序.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>链表逆序打印.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>链表逆序打印.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0A164AB02398A13D00399922</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A242E7823A85F870068F9F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A242E8323A860DC0068F9F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A26E8922240CE860085682A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A26E89D2240D0EB0085682A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A26E8B52240D5500085682A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A26E8C02240D5660085682A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A26E8D62240E1E20085682A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A26E8E12240ECDF0085682A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A26E8EC2240EE300085682A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A26E8F72240F4220085682A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A26E9022240F77B0085682A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A2CF0E123EBBF1D0054EF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A2CF0EC23EBC5710054EF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A2CF10323EBE5EE0054EF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A2EEAD02249FA3B00E5EDB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A2EEAE0224A21AA00E5EDB4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A3C891723A36927002B371C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A3C892223A36E93002B371C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A3D870C223F7ED0005F499E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A3D8717223F9F0D005F499E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A3D8722223FA25B005F499E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A3D872D223FA327005F499E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A5C2E9023A4A4C80023136E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A5C2E9B23A4BCC90023136E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A60111B23AB5F4D004D7983</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A913D1122487C2500D8C790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A9CB1EE223B8D1C0079C561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A9CB1FC223B9B380079C561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0A9CB207223B9EC50079C561</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA26B7E224CCD1A00A29E79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA3E2062242146D0095502C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA3E21C22421BCB0095502C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA3E227224225260095502C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA3E23222422AEA0095502C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA3E23D22422D180095502C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AA3E248224230D50095502C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AAD209123E56CFE002B485B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AAD209C23E5758D002B485B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ABA931C23EC6C5E003A2F03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0ABA932823EC76BD003A2F03</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD19FBC23E6776100A0E2EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD19FC723E677DF00A0E2EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD19FD323E67B8A00A0E2EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD19FDE23E67E4D00A0E2EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD19FE923E67FB800A0E2EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD2136123E57FCC0083F044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD2137223E593110083F044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD2137D23E5991D0083F044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD2138B23E5A0BD0083F044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD2139723E5A3200083F044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD213A323E5A5B00083F044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AD213B123E5B1890083F044</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AF88CD223ED249000304AD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AF88CE923ED27DD00304AD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AF88CF423ED2A4500304AD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AF88CFF23ED2D6900304AD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0AF88D1523ED7D6100304AD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
